[Unit]
Description=Zaparoo Core service

[Service]
Type=exec
Restart=on-failure
RestartSec=5
StandardError=syslog
WorkingDirectory=%%INSTALL_DIR%%
ExecStart=%%INSTALL_DIR%%/tapto -daemon

[Install]
WantedBy=multi-user.target