[Unit]
Description=Zaparoo Core service

[Service]
Type=exec
Restart=on-failure
RestartSec=5
StandardError=syslog
User=deck
Group=deck
WorkingDirectory=/home/deck/zaparoo
ExecStart=/home/deck/zaparoo/tapto

[Install]
WantedBy=multi-user.target