[Unit]
Description=Zaparoo Core service

[Service]
Type=exec
Restart=on-failure
RestartSec=5
StandardError=syslog
WorkingDirectory=/home/deck/zaparoo
ExecStart=/home/deck/zaparoo/tapto -service start

[Install]
WantedBy=multi-user.target